.scrollToTopBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 20px;
    right: 20px;

    padding: 8px;

    color: #fff;

    background-color: #0e2b3d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    border: none;
    border-radius: 50%;

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s ease-in-out;
}

.scrollToTopBtnVisible {
    opacity: 1;
    pointer-events: all;
}

.scrollToTopBtnIcon {
    width: 24px;
    height: 24px;
}
