.favoritesModal {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    padding: 16px;

    background-color: #fff;

    transition: transform 0.3s ease-in-out;

    transform: translateX(100%);

    z-index: 1000;
}

.favoritesModalOpen {
    transform: translateX(0);

    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.15);
}

.favoritesModalCloseBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 16px;
    right: 16px;

    background: inherit;
    border: none;
}

.favoritesModalCloseIcon {
    width: 32px;
    height: 32px;
}

.favoritesModalTitle {
    font-size: 36px;
    font-weight: 600;
    color: #0e2b3d;

    margin-bottom: 8px;
}

.favoritesModalQuantity {
    font-size: 24px;
    color: #0e2b3d;

    margin-bottom: 8px;
}

.favoritesModalQuantity span {
    font-weight: 700;
}

.favoritesModalTotalSum {
    font-size: 24px;
    color: #0e2b3d;

    margin-bottom: 32px;
}

.favoritesModalTotalSum span {
    font-weight: 700;
}

.favoritesModalList {
    display: flex;
    flex-direction: column;

    gap: 16px;

    margin-bottom: 32px;
    padding-right: 8px;

    overflow-y: auto;
}

.favoritesModalItem {
    display: flex;
    align-items: flex-start;

    gap: 16px;

    padding: 0 24px 16px 0;
    border-bottom: 1px solid #1f9b60;

    position: relative;
}

.favoritesModalItem:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.favoritesModalItemBtnRemove {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background-color: inherit;

    position: absolute;

    top: 0px;
    right: 0px;
}

.favoritesModalItemBtnRemoveIcon {
    width: 16px;
    height: 16px;
}

.favoritesModalItemImg {
    width: 75px;
    height: 75px;
}

.favoritesModalItemContainer {
    display: flex;
    flex-direction: column;

    gap: 12px;
}

.favoritesModalItemName {
    font-size: 16px;
    color: #0e2b3d;
}

.favoritesModalItemPrice {
    font-size: 16px;
    color: #0e2b3d;
    font-weight: 500;
}

.favoritesModalItemSum {
    font-size: 16px;
    color: #0e2b3d;
    font-weight: 600;
}

.favoritesModalItemQuantityContainer {
    display: flex;
    align-items: stretch;

    gap: 8px;
}

.favoritesModalItemQuantityBtn {
    color: #fff;
    font-size: 18px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #0e2b3d;
    border-radius: 4px;
    background-color: #0e2b3d;

    width: 24px;
    height: 24px;
}

.favoritesModalItemQuantityInput {
    font-size: 20px;
    color: #0e2b3d;
    text-align: center;

    width: 40px;
    height: auto;

    border: 1px solid #0e2b3d;
    border-radius: 4px;
}

.favoritesModalItemQuantityInput:focus,
.favoritesModalItemQuantityInput:active {
    outline: none;
}

.favoritesModalEmpty {
    font-size: 30px;
    color: #0e2b3d;
    font-weight: 600;

    text-align: center;
}

.favoritesModalIcon {
    width: 250px;
    height: 250px;

    margin: 0 auto;

    fill: #0e2b3d;
    stroke: #0e2b3d;
}

.favoritesModalBtnSubmit {
    font-size: 22px;
    line-height: normal;
    color: #fff;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;

    border: 1px solid #0e2b3d;
    border-radius: 12px;

    background-color: #0e2b3d;

    padding: 12px 20px;
    margin: auto auto 0;
}

@media screen and (min-width: 768px) {
    .favoritesModal {
        width: 50%;

        padding: 24px;
    }

    .favoritesModalCloseBtn {
        top: 24px;
        right: 24px;
    }

    .favoritesModalCloseIcon {
        width: 40px;
        height: 40px;
    }

    .favoritesModalTitle {
        font-size: 42px;

        margin-bottom: 12px;
    }

    .favoritesModalQuantity {
        font-size: 28px;
    }

    .favoritesModalTotalSum {
        font-size: 28px;

        margin-bottom: 40px;
    }

    .favoritesModalList {
        gap: 24px;

        margin-bottom: 40px;
    }

    .favoritesModalItem {
        gap: 16px;

        padding: 0 24px 16px 0;
    }

    .favoritesModalItemBtnRemoveIcon {
        width: 24px;
        height: 24px;
    }

    .favoritesModalItemImg {
        width: 100px;
        height: 100px;
    }

    .favoritesModalItemContainer {
        gap: 16px;
    }

    .favoritesModalItemName {
        font-size: 18px;
    }

    .favoritesModalItemPrice {
        font-size: 18px;
    }

    .favoritesModalItemSum {
        font-size: 18px;
    }

    .favoritesModalItemQuantityContainer {
        gap: 12px;
    }

    .favoritesModalItemQuantityBtn {
        font-size: 22px;

        border-radius: 6px;

        width: 32px;
        height: 32px;
    }

    .favoritesModalItemQuantityInput {
        font-size: 22px;

        width: 50px;

        border-radius: 6px;
    }

    .favoritesModalEmpty {
        font-size: 34px;
    }

    .favoritesModalIcon {
        width: 300px;
        height: 300px;
    }

    .favoritesModalBtnSubmit {
        font-size: 26px;

        padding: 12px 30px;
    }
}

@media screen and (min-width: 1440px) {
    .favoritesModal {
        width: 35%;

        padding: 32px;
    }

    .favoritesModalCloseBtn {
        top: 24px;
        right: 24px;
    }

    .favoritesModalCloseIcon {
        width: 48px;
        height: 48px;
    }

    .favoritesModalTitle {
        font-size: 48px;

        margin-bottom: 16px;
    }

    .favoritesModalQuantity {
        font-size: 32px;
    }

    .favoritesModalTotalSum {
        font-size: 32px;

        margin-bottom: 48px;
    }

    .favoritesModalList {
        gap: 32px;

        margin-bottom: 48px;
    }

    .favoritesModalItem {
        gap: 16px;

        padding: 0 40px 24px 0;
    }

    .favoritesModalItemBtnRemoveIcon {
        width: 32px;
        height: 32px;
    }

    .favoritesModalItemImg {
        width: 125px;
        height: 125px;
    }

    .favoritesModalItemContainer {
        gap: 24px;
    }

    .favoritesModalItemName {
        font-size: 22px;
    }

    .favoritesModalItemPrice {
        font-size: 22px;
    }

    .favoritesModalItemSum {
        font-size: 22px;
    }

    .favoritesModalItemQuantityContainer {
        gap: 16px;
    }

    .favoritesModalItemQuantityBtn {
        font-size: 26px;

        border-radius: 8px;

        width: 40px;
        height: 40px;

        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }

    .favoritesModalItemQuantityBtn:hover {
        background-color: #fff;
        color: #0e2b3d;
    }

    .favoritesModalItemQuantityInput {
        font-size: 24px;

        width: 60px;

        border-radius: 8px;
    }

    .favoritesModalEmpty {
        font-size: 38px;
    }

    .favoritesModalIcon {
        width: 400px;
        height: 400px;
    }

    .favoritesModalBtnSubmit {
        font-size: 30px;

        padding: 12px 40px;

        transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    }

    .favoritesModalBtnSubmit:hover {
        background-color: transparent;
        color: #0e2b3d;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    }
}
