.homeHero {
    padding: 200px 0 50px;

    background-image: url("../../images/home-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.homeHeroLink {
    font-size: 24px;
    line-height: normal;
    color: #fff;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 16px;

    width: fit-content;

    border: 1px solid #0e2b3d;
    border-radius: 12px;

    background-color: #0e2b3d;

    padding: 12px 24px;
    margin: 0 auto;

    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.homeHeroLink:hover {
    background-color: transparent;
    color: #0e2b3d;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.homeHeroLink svg {
    transition: transform 0.3s ease;
}

.homeHeroLink:hover svg {
    transform: translateX(15px);
}

.homeTitle {
    font-size: 28px;
    line-height: normal;
    color: #0e2b3d;
    font-weight: 700;

    text-align: center;

    margin-bottom: 32px;
}

.homeBestsellers {
    padding: 50px 0 25px;
}

.homeOrder {
    padding: 25px 0 50px;
}

.homeOrderList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    gap: 32px;
}

.homeOrderItem {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 16px;

    width: 100%;
}

.homeOrderItemIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #157dc7;
    border-radius: 50%;

    width: fit-content;

    padding: 12px;
}

.homeOrderItemIcon {
    width: 50px;
    height: 50px;

    fill: #157dc7;
    stroke: #157dc7;
}

.homeOrderItemTitle {
    font-size: 22px;
    line-height: normal;
    color: #0e2b3d;
    font-weight: 600;

    text-align: center;
}

.homeOrderItemText {
    font-size: 16px;
    line-height: normal;
    color: #0e2b3d;

    text-align: center;
}

.homeOrderSubTitle {
    font-size: 18px;
    line-height: normal;
    color: #0e2b3d;
    font-weight: 600;

    margin-top: 64px;
}

@media screen and (min-width: 768px) {
    .homeHero {
        padding: 200px 0 50px;
    }

    .homeHeroLink {
        font-size: 32px;
    }

    .homeTitle {
        margin-bottom: 40px;
    }

    .homeOrderList {
        gap: 40px;
    }

    .homeOrderItemIconContainer {
        padding: 20px;
    }

    .homeOrderItemIcon {
        width: 75px;
        height: 75px;
    }

    .homeOrderItemTitle {
        font-size: 24px;
    }

    .homeOrderItemText {
        font-size: 18px;
    }

    .homeOrderSubTitle {
        font-size: 20px;

        margin-top: 80px;
    }
}

@media screen and (min-width: 1440px) {
    .homeHero {
        padding: 200px 0 200px;
    }

    .homeHeroLink {
        font-size: 40px;

        margin: 0 0 0 auto;
    }

    .homeTitle {
        margin-bottom: 64px;
    }

    .homeOrderList {
        flex-direction: row;

        gap: 40px;
    }

    .homeOrderItem {
        width: calc((100% - 80px) / 3);
    }

    .homeOrderItemIconContainer {
        padding: 32px;
    }

    .homeOrderItemIcon {
        width: 100px;
        height: 100px;
    }

    .homeOrderItemTitle {
        font-size: 28px;
    }

    .homeOrderItemText {
        font-size: 20px;
    }

    .homeOrderSubTitle {
        font-size: 22px;

        margin-top: 96px;
    }
}
