.brand {
    padding: 32px 0;
}

.brandTitle {
    font-size: 34px;
    line-height: normal;
    color: #0e2b3d;
    font-weight: 600;
    text-align: center;

    margin-bottom: 32px;
}

.brandList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 16px 8px;
}

@media screen and (min-width: 768px) {
    .brand {
        padding: 32px 0 64px;
    }

    .brandTitle {
        font-size: 40px;

        margin-bottom: 48px;
    }

    .brandList {
        gap: 32px 16px;
    }
}

@media screen and (min-width: 1440px) {
    .brand {
        padding: 32px 0 64px;
    }

    .brandTitle {
        font-size: 50px;

        margin-bottom: 56px;
    }

    .brandList {
        gap: 48px 24px;
    }
}
